body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 50px auto 0;
	width: 340px;
	padding-left: 0;
}

li.user {
	border: 1px solid #000;
	list-style: none;
	margin-bottom: 10px;
	padding: 15px 10px;
}

span.triangle {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #000;
	border-bottom: 10px solid transparent;
	float: right;
}

dialog {
	width: 300px;
	height: 300px;
	padding: 20px;
	top: 0;
	bottom: 0;
}

.close-button {
	float: right;
}

.close-button:hover {
	cursor: pointer;
}

dialog h1 {
	margin-bottom: 0;
}

dialog p {
	margin-top: 0;
	font-size: 18px;
}

label {
	font-size: 14px;
}